# tunnelなどを利用してURLを変更する場合は、BASE_API_URLとBASE_WS_URLを変更してください。

BASE_API_URL=http://localhost:8787
BASE_WS_URL=ws://localhost:8787
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin

# ------------------------------------------------------------
# これより下は変更しないでください
# ------------------------------------------------------------

# Next.jsで利用する環境変数
NEXT_PUBLIC_API_URL=${BASE_API_URL}
NEXT_PUBLIC_WS_URL=${BASE_WS_URL}

# Viteで利用する環境変数
VITE_API_URL=${BASE_API_URL}
VITE_WS_URL=${BASE_WS_URL}


